name: 'blog feed ci'
on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '0 * * * *'

jobs:
  readme:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.feed.outputs.changed }}
      items: ${{ steps.feed.outputs.items }}
    steps:
      - uses: actions/checkout@v2
      - uses: sarisia/actions-readme-feed@v1
        id: feed
        with:
          url: 'https://note.sarisia.cc/index.xml'
          file: 'README.md'
          timezone: 'Asia/Tokyo'
      - uses: sarisia/actions-commit@master
        id: commit
        with:
          message: action test
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          description: ${{ steps.commit.outputs.changed == true }}
  tweet:
    runs-on: ubuntu-latest
    needs: readme
    if: needs.readme.outputs.changed == true
    steps:
      - uses: ethomson/send-tweet-action@v1
        with:
          status: |
            New post: ${{ fromJson(needs.readme.outputs.items)[0].title }}
            ${{ fromJson(needs.readme.outputs.items)[0].link }}
          consumer-key: ${{ secrets.TWITTER_CONSUMER_KEY }}
          consumer-secret: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          access-token-secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
      - uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: tweet latest entry
